@using System.Globalization
@using WebApp.Areas.Admin.ViewComponents.Statistics

@model Result

@{
	var textInfo = new CultureInfo("tr-TR", false).TextInfo;
}

<div class="col-lg-3">
	<div class="widget style1 navy-bg">
		<div class="row">
			<div class="col-4">
				<i class="fa fa-cloud fa-5x"></i>
			</div>
			<div class="col-8 text-right">
				<span>Hava Durumu: @textInfo.ToTitleCase(Model.Weather.FirstOrDefault().Description)</span>
				<h2 class="font-bold">@Model.Main.Temp'C</h2>
			</div>
		</div>
	</div>
</div>
