@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
	<title>@ViewData["Title"] - FY Blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link href="~/web/css/contact.css" rel='stylesheet' type="text/css" />
	<link href="~/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="~/web/css/single.css">
	<link href="~/web/css/style.css" rel='stylesheet' type='text/css' />
	<link href="~/web/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
		  rel="stylesheet">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="~/web/js/jquery-2.2.3.min.js"></script>
	<style>
		#model-content img {
			max-width: 100%;
		}
	</style>
</head>
<body>
	<!--Header-->
	<header>
		<div class="top-bar_sub_w3layouts container-fluid">
			<div class="row">
				<div class="col-md-4 logo text-left">
					<a class="navbar-brand" href="#">
						<img src="~/web/images/logo.png" />
					</a>
				</div>
				<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
					@if (Context.User.Claims.Count() > 0)
					{
						<span class="mx-lg-4 mx-md-2  mx-1">
							<a asp-controller="Writer" asp-action="Index">
								<i class="fas fa-columns"></i> Yazar Paneli
							</a>
						</span>
						<span class="mx-lg-4 mx-md-2  mx-1">
							<a asp-controller="Login" asp-action="Logout">
								<i class="fas fa-lock"></i> Çıkış Yap
							</a>
						</span>
					}
					else
					{
						<span class="mx-lg-4 mx-md-2  mx-1">
							<a asp-controller="Login" asp-action="Index">
								<i class="fas fa-lock"></i> Giriş Yap
							</a>
						</span>
						<span>
							<a asp-controller="Register" asp-action="Index">
								<i class="far fa-user"></i> Kayıt Ol
							</a>
						</span>
					}
				</div>
				<div class="col-md-4 log-icons text-right">
					<ul class="social_list1 mt-3">
						<li>
							<a href="#" class="facebook1 mx-2">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="#" class="twitter2">
								<i class="fab fa-twitter"></i>

							</a>
						</li>
						<li>
							<a href="#" class="dribble3 mx-2">
								<i class="fab fa-dribbble"></i>
							</a>
						</li>
						<li>
							<a href="#" class="pin">
								<i class="fab fa-pinterest-p"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="header_top" id="home">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">
								Ana Sayfa
							</a>
						</li>
						<li class="nav-item @if (Context.Request.Path.ToString().Contains("About"))
									   {
										   Write("active");
									   }">
							<a class="nav-link" asp-controller="About" asp-action="Index">Hakkımızda</a>
						</li>
						<li class="nav-item @if (Context.Request.Path.ToString().Contains("Blog"))
									   {
										   Write("active");
									   }">
							<a class="nav-link" asp-controller="Blog" asp-action="Index">Bloglar</a>
						</li>
						<li class="nav-item @if (Context.Request.Path.ToString().Contains("Contact"))
									   {
										   Write("active");
									   }">
							<a class="nav-link" asp-controller="Contact" asp-action="Index">İletişim</a>
						</li>
					</ul>
					@await Html.PartialAsync("~/Views/Default/HeaderSearchPartial.cshtml")
				</div>
			</nav>
		</div>
	</header>
	<!--//header-->
	<!--/main-->
	@RenderBody()
	<!--//main-->
	<!--footer-->
	<footer>
		<div class="container">
			<div class="row">
				@await Component.InvokeAsync("FooterAboutUs")
				@await Component.InvokeAsync("FooterLatestBlogs")
				<!-- subscribe -->
				@await Html.PartialAsync("~/Views/Default/FooterSignupNewsletterPartial.cshtml")
				<!-- //subscribe -->
			</div>
			<!-- footer -->
			<div class="footer-cpy text-center">
				<div class="footer-social">
					<div class="copyrighttop">
						<ul>
							<li class="mx-3">
								<a class="facebook" href="#">
									<i class="fab fa-facebook-f"></i>
									<span>Facebook</span>
								</a>
							</li>
							<li>
								<a class="facebook" href="#">
									<i class="fab fa-twitter"></i>
									<span>Twitter</span>
								</a>
							</li>
							<li class="mx-3">
								<a class="facebook" href="#">
									<i class="fab fa-google-plus-g"></i>
									<span>Google+</span>
								</a>
							</li>
							<li>
								<a class="facebook" href="#">
									<i class="fab fa-pinterest-p"></i>
									<span>Pinterest</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="w3layouts-agile-copyrightbottom">
					<p>
						© @DateTime.Now.Year FY Blog. All Rights Reserved | Developed by
						<a href="https://www.linkedin.com/in/furkanyazar/" target="_blank">Furkan Yazar</a>
					</p>
				</div>
			</div>
			<!-- //footer -->
		</div>
	</footer>
	<!---->
	<script src="~/web/js/bootstrap.js"></script>
</body>
</html>
