<div class="tech-btm">
	<h4>Haber bültenimize kaydolun</h4>
	<p>Gizliliğinize saygı duyarız.</p>
	<form action="#" method="post">
		<input type="email" placeholder="E-posta adresi" required="">
		<input type="submit" value="Gönder">
	</form>
</div>
