@model int

<div class="comment-top">
	<h4>Yorum Yap</h4>
	<div class="comment-bottom">
		<form method="dialog">
			<input type="hidden" id="txtBlogId" value="@Model" />
			<input class="form-control" type="text" id="txtCommentUserFullName" placeholder="Ad">
			<textarea class="form-control" id="txtCommentContent" placeholder="Yorum" rows="5"></textarea>
			<button id="btnComment" type="submit" class="btn btn-primary submit">Gönder</button>
		</form>
	</div>
</div>
<script>
	$("#btnComment").click(function() {
		var comment = {
			BlogId: txtBlogId.value,
			CommentUserFullName: txtCommentUserFullName.value,
			CommentContent: txtCommentContent.value
		};

		$.ajax({
			url: "/Default/Comment",
			type: "POST",
			data: comment,
			success: function(response) {
				if (response.success) location.reload();
				else swal("", response.message, "error");
			},
			error: function() {
				swal("", "Bir hata oluştu", "error");
			}
		});
	});
</script>
