<div class="comment-top">
	<h4>Yorum Yap</h4>
	<div class="comment-bottom">
		<form action="#" method="post">
			<input class="form-control" type="text" name="Name" placeholder="Ad" required="">
			<textarea class="form-control" name="Message" placeholder="Yorum" required="" rows="5"></textarea>
			<button type="submit" class="btn btn-primary submit">Gönder</button>
		</form>
	</div>
</div>
