<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
	<h2>Haber bültenimize kaydolun</h2>
	<div class="subscribe-main text-left">
		<div class="subscribe-form">
			<form action="#" method="post" class="subscribe_form">
				<input class="form-control" type="email" placeholder="E-posta adresi" required="">
				<button type="submit" class="btn btn-primary submit">Gönder</button>
			</form>
			<div class="clearfix"> </div>
		</div>
		<p>Gizliliğinize saygı duyarız.</p>
	</div>
</div>
