<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
	<h2>Haber bültenimize kaydolun</h2>
	<div class="subscribe-main text-left">
		<div class="subscribe-form">
			<form method="dialog" class="subscribe_form">
				<input id="txtFooterNewsletterEmail" class="form-control" type="email" placeholder="E-posta adresi" required="">
				<button id="btnFooterNewsletter" type="submit" class="btn btn-primary submit">Gönder</button>
				<div class="clearfix"> </div>
			</form>
		</div>
		<p>Gizliliğinize saygı duyarız.</p>
	</div>
</div>
<script>
	$("#btnFooterNewsletter").click(function() {
		var newsletter = {
			NewsletterEmail: txtFooterNewsletterEmail.value
		};

		signupNewsletter(newsletter);
	});

	$("#btnBlogRightNewsletter").click(function() {
		var newsletter = {
			NewsletterEmail: txtBlogRightNewsletterEmail.value
		};

		signupNewsletter(newsletter);
	});

	function signupNewsletter(newsletter) {
		$.ajax({
			url: "/Default/SignupNewsletter",
			type: "POST",
			data: newsletter,
			success: function(response) {
				if (response.success) swal("", response.message, "success");
				else swal("", response.message, "error");
			},
			error: function() {
				swal("", "Bir hata oluştu", "error");
			}
		});
	}
</script>
