@{
	ViewData["Title"] = "Ana Sayfa";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
	@await Component.InvokeAsync("HomeCountOfBlogs")
	@await Component.InvokeAsync("HomeWeather")
	@await Component.InvokeAsync("HomeCountOfMessages")
	@await Component.InvokeAsync("HomeCountOfComments")
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="widget navy-bg no-padding">
			<div class="p-m">
				<h1 class="m-xs">Admin Paneli</h1>
				<h3 class="font-bold no-margins">
					ASP.NET Core 5
				</h3>
				<small>Bu panelde admin işlemleri bir area yapısı üzerinden gerçekleşmektedir</small>
			</div>
			<div class="flot-chart">
				<div class="flot-chart-content" id="flot-chart1"></div>
			</div>
		</div>
	</div>
	@await Component.InvokeAsync("HomeLatestBlog")
	<div class="col-lg-3">
		<div class="widget yellow-bg no-padding">
			<div class="p-m">
				<h1 class="m-xs">₺ 3256,41</h1>

				<h3 class="font-bold no-margins">
					Site Kazancı
				</h3>
				<small>Ürün tanıtımları, promosyonlar, reklamlar, anlaşmalar</small>
			</div>
			<div class="flot-chart">
				<div class="flot-chart-content" id="flot-chart3"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	@await Component.InvokeAsync("HomeProfile")
	<div class="col-lg-2">
		<div class="widget navy-bg p-lg text-center">
			<div class="m-b-md">
				<i class="fa fa-shield fa-4x"></i>
				<h1 class="m-xs">456</h1>
				<h3 class="font-bold no-margins">
					Shield
				</h3>
				<small>power</small>
			</div>
		</div>
		<div class="widget navy-bg p-lg text-center">
			<div class="m-b-md">
				<i class="fa fa-flash fa-4x"></i>
				<h1 class="m-xs">612</h1>
				<h3 class="font-bold no-margins">
					Thunder
				</h3>
				<small>amount</small>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="widget lazur-bg p-xl">
			<h2>
				Janet Smith
			</h2>
			<ul class="list-unstyled m-t-md">
				<li>
					<span class="fa fa-envelope m-r-xs"></span>
					<label>Email:</label>
					mike@mail.com
				</li>
				<li>
					<span class="fa fa-home m-r-xs"></span>
					<label>Address:</label>
					Street 200, Avenue 10
				</li>
				<li>
					<span class="fa fa-phone m-r-xs"></span>
					<label>Contact:</label>
					(+121) 678 3462
				</li>
			</ul>
		</div>
		<div class="widget red-bg p-lg text-center">
			<div class="m-b-md">
				<i class="fa fa-bell fa-4x"></i>
				<h1 class="m-xs">47</h1>
				<h3 class="font-bold no-margins">
					Notification
				</h3>
				<small>We detect the error.</small>
			</div>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="widget yellow-bg p-lg text-center">
			<div class="m-b-md">
				<i class="fa fa-thumbs-up fa-4x"></i>
				<h1 class="m-xs">520</h1>
				<h3 class="font-bold no-margins">
					Likes
				</h3>
				<small>amount</small>
			</div>
		</div>
		<div class="widget yellow-bg p-lg text-center">
			<div class="m-b-md">
				<i class="fa fa-warning fa-4x"></i>
				<h1 class="m-xs">Alarm</h1>
				<h3 class="font-bold no-margins">
					Do
				</h3>
				<small>something</small>
			</div>
		</div>
	</div>
</div>
